@{
    Layout = "~/layout/_base.cshtml";
}
@section styles{
    <style type="text/css">
        section {
            height: 800px;
        }

        .cfont {
            font-family: 'Bebas Kai';
        }

        p {
            font-family: 'Myriad Pro';
            font-size: 14px;
        }
    </style>
}
@section scripts{
    <script>
        $('.mnuAbout').addClass('active-menu');
    </script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/images/aboutbanner.png" alt="about banner" />
        </div>
    </div>
    <div class="row-fluid">

        <div class="col-lg-7">
            <article class="text-justify" style="padding-left:72px;">
                <h2 class="cfont" style="font-size:48px; color:#626161; padding-bottom:19px;">WHO WE ARE</h2>
                <p>Neumann & Mueller Philippines, Inc. is the exclusive distributor and marketing arm of Bayer Environmental Science in the Philippines. It was established in 2003 to handle the distribution of Racumin rodenticides and Blattanex insecticides in consumer retail accounts nationwide. Together with NMPI, Racumin has since remained to be the market leader in rodenticides in the Philippines.</p>
                <p>In 2007, NMPI expanded its distribution portfolio and product expertise when Bayer Animal Health appointed it as the exclusive national distributor for its pet care brand Bayopet.</p>
                <p> In addition to these products, NMPI currently distributes and markets its own line of pest control brands such as Advanced Aerosols, Advanced Chalk and Banzai. All of which are strong and unique brands in pest control.</p>
                <p> The core of NMPI is its strong distribution network nationwide. It is backed-up by several sub-distributors strategically located in key cities and provinces throughout the country which cover supermarkets, groceries, drugstores, convenience stores, wholesalers, sari-sari and market stalls, hardware and do-it-yourself stores, poultry and agricultural supply stores, pet stores and other tertiary accounts.</p>
                <p>With its growing number of top-of-the-line products, NMPI continues to live up to its reputation as the go-to experts for pest control and pet care, making life pest-less for people and their pets.</p>
            </article>
        </div>
        <div class="col-lg-5">
        </div>
    </div>
</div>

