@{
    Layout = "~/layout/_base.cshtml";
}
@section styles{
    <style type="text/css">
        section {
            height: 800px;
        }

        p {
            font-family: 'Helvetica-Regular-NM';
        }
    </style>
}
@section scripts{
    <script>
        $('.mnuAbout').addClass('active-menu');
    </script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/images/aboutbanner.png" alt="about banner" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-7">
            <article class="text-justify" style="padding-left:72px; font-size:15px;">
                <h2 class="nm-bebas-kai-font" style="font-size:48px; color:#626161; padding-bottom:19px;">About Us</h2>
                <p>Neumann & Mueller Philippines, Inc. was established by seasoned executives from a leading multinational household insect control company. The company was named after two of their esteemed German colleagues who exemplified work excellence and professionalism.</p>

                <p>Neumann & Mueller was appointed in 2003 as the exclusive distributor and marketing arm of Bayer Environmental Science in the Philippines to handle the distribution of  Racumin rodenticides and Blattanex insecticides in consumer retail accounts nationwide.</p>

                <p>In 2007, Neumann & Mueller expanded its distribution portfolio and product expertise when they were appointed as the exclusive national distributor of another division of Bayer Philippines, Inc.— Bayer Animal Health, Companion Animal Products, particularly the Bayopet line.</p>

                <p>In addition to these products, Neumann & Mueller currently distributes and markets its own line of insect control brands such as Advanced Aerosol, Advanced Chalk and Banzai Pest Catch Sheet.</p>

                <p>The strength of Neumann & Mueller is its solid distribution network nationwide, taking pride in its consistent presence in supermarkets, groceries, drugstores, convenience stores, wholesalers, hardware and DIY stores, poultry and agricultural supply stores, pet shops, and other tertiary and institutional accounts. It is backed up by equally reliable partner distributors strategically located in key cities and provinces throughout the country.</p>

            </article>
        </div>
        <div class="col-lg-5">
        </div>
    </div>
</div>

