@{
    Layout = "~/layout/_base.cshtml";
    var totalPages = 0;
    var displayPerPage = 3;
    var news = new List<string>()
    {
        "Deadly Leptospirosis and other rat-borne diseases: A community fights back|http://www.philstar.com/science-and-technology/2012/08/16/838601/deadly-leptospirosis-and-other-rat-borne-diseases-community ",
        "RatAttack goes to Davao City barangay.|http://www.philstar.com/science-and-technology/2012/10/11/858162/ratattack-goes-davao-city-barangay",
        "Fighting dengue: Is your odorless insect spray really odorless?|http://www.philstar.com/science-and-technology/746002/fighting-dengue-your-odorless-insect-spray-really-odorless",
        "Rizal barangay joins Racumin's RatAttack project.|http://www.philstar.com/science-and-technology/601473/rizal-barangay-joins-racumins-ratattack-project",
        "Eliminate rats, stop Leptospirosis.|http://www.philstar.com/science-and-technology/526392/eliminate-rats-stop-leptospirosis",
        "RatAttack goes to San Juan.|http://www.philstar.com:8080/science-and-technology/503439/racumin-ratattack-goes-san-juan",
        "Floods keep rats 'at home’, people in danger.|http://www.philstar.com/science-and-technology/482513/floods-keep-rats-home-people-danger",
        "A smart way to get rid of rats.|http://www.philstar.com/science-and-technology/48509/smart-way-get-rid-rats",
        "Filipino consumers turn to trusted brand in insect control.|http://www.philstar.com/business-usual/17625/filipino-consumers-turn-trusted-brand-insect-control",
        "Rainy season brings back Leptospirosis.|http://www.philstar.com/science-and-technology/6711/rainy-season-brings-back-leptospirosis"
    };

}
@section styles{
    <style type="text/css">
        .nm-news {
            margin-top: 19px;
            margin-bottom: 19px;
        }

        .col-lg-10 > header > h1 {
            font-family: 'Helvetica-Bold-NM';
            font-size: 20px;
            color: #626161;
            margin-top: 0px;
        }

        .nm-readmore-btn {
            /*margin-top: 50px;
            margin-bottom: 30px;*/
            top: 0px;
        }

        .row-fluid {
            width: 90%;
            margin: 0 auto;
        }

            .row-fluid article {
                border-bottom: 1px solid #626161;
            }

        article {
            height: auto;
            overflow: hidden;
        }

        .nm-news-nav {
            background-color: #59e6ff;
            height: 38px;
            margin-bottom: 20px;
        }

        .pagination {
            margin-top: 0px;
            height: 100%;
        }

            .pagination > li > a {
                border: none;
                color: #fff;
                padding: 8px 12px;
                background-color: transparent;
                font-family: 'BebasKai-NM';
                font-size: 15px;
            }

            .pagination > li:last-child > a {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }


        .row-fluid article:last-child {
            border-bottom: none;
        }

        .pagination > li:first-child > a {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    </style>
}
@section scripts{
    <script>
        $('.mnuNews').addClass('active-menu');
    </script>
}

@*<div>
        <img class="img-responsive" src="~/images/carousel/2.png" alt="about banner" />
        <p>&nbsp;</p>
    </div>*@

<article id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/news/1.png" alt="">
        </div>
        <div class="item">
            <img src="images/news/2.png" alt="">
        </div>
        <div class="item">
            <img src="images/news/3.png" alt="">
        </div>
        <div class="item">
            <img src="images/news/4.png" alt="">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</article>
<div class="row-fluid">
    @{
        foreach (var item in news)
        {
            var article = item.Split('|');
            <article class="nm-news">
                <div class="col-lg-10">
                    <header>
                        <h1>@article[0]</h1>
                    </header>
                </div>
                <div class="col-lg-2">
                    <a target="_blank" href="@article[1]" class="nm-readmore-btn"></a>
                </div>
            </article>
        }
    }
</div>
<div class="clearfix"></div>