@{
    Layout = "~/layout/_base.cshtml";
}
@section styles{
    <style type="text/css">
        section {
            height: 800px;
        }

        .cfont {
            font-family: 'Bebas Kai';
            font-size: 41px;
            color: #626161;
        }

        p {
            font-family: 'Myriad Pro';
            font-size: 14px;
        }

        .media-body {
            vertical-align: middle;
            font-family: 'Myriad Pro';
            font-size: 19px;
        }

        .list-group-item{
            cursor:pointer;
        }
    </style>
}
@section scripts{
    <script>
        $('.mnuProduct').addClass('active-menu');
        $(document).ready(function () {
            $("#productsItems").children(".collapse").on('show.bs.collapse', function () {
                $(this).parent().children(".collapse.in").removeClass("in");
            });
        });
    </script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/images/products/productbanner.png" alt="product banner" />
        </div>
    </div>
    <div class="row" style="margin-top:33px;">
        <div class="col-lg-4">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><b>PEST CONTROL PRODUCTS</b></a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC1">Advanced® Aerosol Multi Insect Killer</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC2">Advanced® Aerosol Mosquito Killer </li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC3">Advanced® Chalk Cockroach & Ant Killer</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC4">Banzai Pest Catch Sheets</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPC5">Blattanex® Cockroach Gel</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><b>RODENT CONTROL PRODUCTS</b></a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC1">Racumin® Tracking Powder</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC2">Racumin® Ready-Made Bait</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productRC3">Racumin® Paste</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><b>PET CARE PRODUCTS</b></a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC1">Bayopet® Tick & Flea Soap</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC2">Bayopet® Antiflea Shampoo</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC3">Bayopet® Antiflea Powder</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETC4">Bayopet® Tick & Flea Collar</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><b>HERBAL VARIANTS (SOAPS)</b></a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS1">Bayopet® Clean n’ Shine Organic Soap</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS2">Bayopet® Coconut Milk Soap</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCS3">Bayopet® Aloe Vera Organic Soap</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><b>HERBAL VARIANTS (SHAMPOO)</b></a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH1">Bayopet® Conditioning Shampoo</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH2">Bayopet® Herbal Hair Grower Shampoo</li>
                            <li class="list-group-item" data-toggle="collapse" data-target="#productPETCVSH3">Bayopet® Moisturizing and Antiseptic Shampoo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div id="productsItems">
                <div id="productPC1" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/pc1.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">ADVANCED AEROSOL MULTI-INSECT KILLER</h3>
                            Advanced Aerosol Multi-Insect Killer is guaranteed to deliver 100% knockdown and kills mosquitoes and cockroaches. It also effective against flies and other flying insects. Best of all, it’s 100% odorless so it has no intrusive smell while and after spraying.
                        </div>
                    </div>
                </div>
                <div id="productPC2" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/pc2.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">ADVANCED® AEROSOL MOSQUITO KILLER </h3>
                            Advanced® Aerosol Mosquito Killer is a breakthrough mosquito killer with the Fastest Dual Knockdown Action. It has an advanced formulation with SumiOne that delivers extremely fast knockdown of dengue-causing mosquitoes. It is 100% odorless so there’s none of the irritating scent after spraying.
                        </div>
                    </div>
                </div>
                <div id="productPC3" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/pc3.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">ADVANCED® CHALK COCKROACH & ANT KILLER</h3>
                            Advanced® Chalk Cockroach & Ant Killer is a very easy to use chalk that kills cockroaches, ants and other crawling insects fast and efficiently. It leaves a visible line that stays effective for weeks, helping eliminate infestations in your home or establishment.
                        </div>
                    </div>
                </div>
                <div id="productPC4" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/pc4.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BANZAI PEST CATCH SHEETS </h3>
                            Banzai Pest Catch Sheets contains a super-strong adhesive that’s sure to catch flies and mice. It is non-toxic making it safe to use anywhere around your home or establishment.
                        </div>
                    </div>
                </div>
                <div id="productPC5" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/pc5.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BLATTANEX® COCKROACH GEL </h3>
                            Blattanex Gel is a breakthrough solution for cockroach control. It contains Imidacloprid, which gives optimum protection against cockroaches. Its unique baiting action secretly lures cockroaches out of their nests to feed on the gel so you don’t have to hunt them in hard-to-reach places.
                        </div>
                    </div>
                </div>
                @*RC*@
                <div id="productRC1" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/rc1.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">RACUMIN® TRACKING POWDER</h3>
                            Racumin Tracking Powder sticks to rats’ fur and feet and is ingested when they groom themselves by licking their fur. It can be sprinkled as powder along runways, burrows and nests, or mixed with food as bait. Effectively eliminates consistent and annoying rodent pests.
                        </div>
                    </div>
                </div>
                <div id="productRC2" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/rc2.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">RACUMIN® READY-MADE BAIT</h3>
                            Racumin Ready-Made Bait is an expertly-prepared bait mixture that’s mixed with fresh fragrant rice. Rats mistake it for food and ingest it in lethal doses. Simply set it in places they frequent and let the mixture do the rest.
                        </div>
                    </div>
                </div>
                <div id="productRC3" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/rc3.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">RACUMIN® PASTE</h3>
                            Racumin Paste is made of fresh ground cereals and vegetable oil in ready-to-use sachets. This is a universal bait that controls rat population even in high humidity locations such as sewage systems and dumps. It’s a specialist’s solution for massive infestations of rats or rat habitats.
                        </div>
                    </div>
                </div>
                @*PETC*@
                <div id="productPETC1" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petc1.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® TICK & FLEA SOAP</h3>
                            Bayopet® Tick & Flea Soap has a pH-adjusted special formulation that thoroughly cleans and is gentle on dog’s skin. More importantly, it kills and controls ticks, fleas and lice population on dogs while leaving a long lasting fresh lemon scent.
                        </div>
                    </div>
                </div>
                <div id="productPETC2" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petc2.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® ANTIFLEA SHAMPOO</h3>
                            Bayopet® Antiflea Shampoo thoroughly cleans while effectively treating fleas and lice on dogs. Keep your pet happy and pest-free with this specially formulated shampoo.
                        </div>
                    </div>
                </div>
                <div id="productPETC3" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petc3.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® ANTIFL¬EA POWDER</h3>
                            Bayopet® Antiflea Powder kills and efficiently controls flea population on dogs, cats, puppies and kittens. It’s best recommended during wet and cold seasons and for pets who are too young to bathe.
                        </div>
                    </div>
                </div>
                <div id="productPETC4" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petc4.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® TICK & FLEA COLLAR</h3>
                            Bayopet Tick & Flea Collar is anti-parasitic and is effective in preventing re-infestations of fleas and ticks within 24 hours. It helps your dog stay flea-and-tick-free for up to 10 weeks.
                        </div>
                    </div>
                </div>
                @*PETCS*@
                <div id="productPETCS1" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcs1.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® CLEAN N’ SHINE ORGANIC SOAP</h3>
                            Bayopet Clean n’ Shine Organic Soap contains jojoba oil and d-panthenol that gently cleans, leaving your dog’s coat soft, smooth and tangle-free. It helps maintain a healthy and glossy fur for more fun cuddles and play time!
                        </div>
                    </div>
                </div>
                <div id="productPETCS2" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcs2.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® COCONUT MILK SOAP</h3>
                            Bayopet® Coconut Milk Soap has tea tree oil that helps heal and soothe dry skin irritations while refreshing and restoring the natural coat of your dog. No more itchy worries for your pet!
                        </div>
                    </div>
                </div>
                <div id="productPETCS3" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcs3.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® ALOE VERA ORGANIC SOAP</h3>
                            Bayopet® Aloe Vera helps promote hair growth, leaving your dog’s coat thick and silky with a fresh-smelling balsam scent. No more sweaty dog smell!
                        </div>
                    </div>
                </div>

                @*PETCVSH*@
                <div id="productPETCVSH1" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcsh1.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® CONDITIONING SHAMPOO</h3>
                            Bayopet® Conditioning Shampoo is a mild shampoo and conditioner formula with apple fragrance that contains jojoba oil and d-panthenol. It helps soften your dog’s coat from head to tail, leaving it smooth, tangle free and smelling fresh.
                        </div>
                    </div>
                </div>
                <div id="productPETCVSH2" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcsh2.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® HERBAL HAIR GROWER SHAMPOO</h3>
                            Bayopet® Herbal Hair Grower Shampoo is an all-natural mild shampoo and conditioner formula with aloe vera extract that promotes hair growth and maintains your dog’s silky coat. It also works for limp coats by making them thick and full while relieving discomfort of dry and itchy skin.
                        </div>
                    </div>
                </div>
                <div id="productPETCVSH3" class="collapse">
                    <div class="media">
                        <span class="media-left">
                            <img src="~/images/products/petcsh3.png" />
                        </span>
                        <div class="media-body">
                            <h3 class="media-heading cfont">BAYOPET® MOISTURIZING AND ANTISEPTIC SHAMPOO</h3>
                            Bayopet® Moisturizing and Antiseptic Shampoo is recommended for pets with dry, sensitive skin. It’s a mild shampoo formula infused with the moisturizing properties of coconut milk. It also has the antiseptic properties of tea tree oil that restores your dog’s natural coat oil, and relieves skin irritation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
